.thumb-info-image,
.thumb-item i {
  display: block;
  position: relative;
  margin-bottom: 0.9rem;
  padding-top: 100%;
  border-radius: 50%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.mySwiper a {
  text-decoration: none;
  color: #3d5167;
}

.mySwiper .swiper-pagination {
  position: relative;
}
